<template>
    <transition name="slide">
        <div v-if="success" class="Success slideInUp d-flex j-center align-items">
            <p class="poppins-reg text-white">You Have Successfully Claimed Your Spot! 👏🏻👏🏻</p>
        </div>
    </transition>
</template>

<script>
export default{
    name: 'Success',
    props: ["success"]   
}
</script>

<style>
    .Success{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 35px;
        right: 0;
        width: 600px;
        padding: 6px 25px;
        font-size: 17px;
        margin-bottom: 35px;
        border-radius: 6px;
        background: hsl(154, 59%, 51%);
        box-shadow: 0 4px hsla(154, 59%, 51%, 0.7);
    }

    .slide-enter{
    }

    .slide-enter-active{
        animation: flash .3s ease-in-out forwards
    }

    .slide-leave{

    }

    .slide-leave-active{
        animation: flash .3s ease-in-out forwards
    }

    @keyframes flash {
        from,
        50%,
        to {
            opacity: 1;
        }

        25%,
        75% {
            opacity: 0;
        }
    }

    @keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
</style>